{% extends 'app/base.html' %}
{% load static %}

{% block title %}Reset Password Confirm{% endblock title %}

{% block main-content %}
<div class="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <h3>Reset Password Confirm</h3>
      <hr>

      <form action="" method="post" novalidate class="shadow p-5">
        {% if messages %}
          {% for message in messages %}
            <p class="alert alert-{{ message.tags }} mb-5">{{ message }}</p>
          {% endfor %}
        {% endif %}

        {% csrf_token %}

        {% for fm in form %}
          <div class="form-group mb-3">
            {{ fm.label_tag }}
            {{ fm }}
            <small class="text-danger">{{ fm.errors|striptags }}</small>
          </div>
        {% endfor %}
        
        <input type="submit" class="btn btn-primary mt-3" value="Submit">
      </form> 

    </div>
  </div>
</div>

<!-- Add this style to make all inputs inside the form 100% -->
<style>
  form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
  }
</style>
{% endblock main-content %}
